[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/floofytheme"]
	path = content/themes/floofytheme
	url = https://github.com/floofydoug/floofytheme
